.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav {
  justify-content: center;
}

.nav-link {
  color: white !important;
  width: 110px;
  text-align: center;
  box-sizing: border-box;
}

.nav-link:hover {
  box-shadow: inset 0 -4px 0 0 #fff;
}

.active-link {
  font-weight: bold;
}
