.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-container li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.pagination-container li.active {
    font-weight: bold;
    color: #CD853F;
}