.centered-container {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title {
    margin: 30px;
}

.content {
    margin-bottom: 15px;
    width: 300px;
}

.enterButton {
    border: 0.5px solid gray;
}