.AdminParkingAddPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.APAHeader {
  width: 90%;
}

.APABody {
  width: 90%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.parkingForm {
  width: 90%;
}

.parkingFormInput {
  margin-bottom: 8px;
  width: 100%;
}

.parkingFromLabel {
  margin-right: 5px;
}

.parkingFromControl {
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 100%;
  height: 30px;
}

.parkingFormAddBtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #fc6c00;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  &:hover {
    font-weight: bold;
  }
}

.addressPostBtn {
  margin-bottom: 3px;
  border: none;
  border-radius: 5px;
  color: white;
  background: #fc6c00;
  cursor: pointer;
  &:hover {
    font-weight: bold;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 5px;
  width: 60%;
  max-width: 600px;
  background-color: white;
}

.parkingArrowBackIcon {
  &:hover {
    cursor: pointer;
  }
}
