.ParkingDetailPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.parkingDetailContainer {
  margin-top: 15px;
  width: 90%;
  background-color: #f5f5f5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parkingDetailHeader {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
}

.parkingDetailBody {
  width: 95%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  overflow: hidden;
}

.parkingDetailName {
  font-size: 28px;
  margin-right: 10px;
}

.parkingDetailAddress {
  font-size: 20px;
}

.parkingDetailMap {
  width: 45%;
  height: 400px;
}

.parkingDetailInfos {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.parkingDetailBtns {
  display: flex;
  justify-content: flex-end;
  height: 40px;
}

.modeEditBtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fc6c00;
  border: #fc6c00 1px solid;
  border-radius: 7px;
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
  color: white;
  &:hover {
    font-weight: bold;
  }
}

.deleteBtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  border: #fc6c00 1px solid;
  border-radius: 7px;
  padding: 5px;
  cursor: pointer;
  color: #fc6c00;
  &:hover {
    font-weight: bold;
  }
}

.parkingDetailIsActive {
  margin-left: 10px;
  color: #429cf5;
}

.parkingDetailIsNotActive {
  margin-left: 10px;
  color: #ff3233;
}

.arrowBackIcon {
  &:hover {
    cursor: pointer;
  }
}

.APAHeader {
  margin-top: 30px;
  width: 90%;
}
