.centered-container {
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

.title {
  margin: 30px;
}

.content {
  margin-bottom: 15px;
  width: 300px;
}

.enterButton {
  border: 1px solid #fc6c00;
  border-radius: 10px;
  padding: 5px 10px;
  background: none;
  color: #fc6c00;

  &:hover {
    font-weight: bold;
  }
}
