.gridContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 50px;
  place-items: center;
  margin-left: 20%;
  margin-right: 20%;
}

.bookState {
  color: white;
  background-color: #fc6c00;
  font-weight: bold;
  border-radius: 10px;
  padding: 2px 3px 0 3px;
  border: none;
  margin-right: 7px;
}

.bookStateCancel {
  color: #ff3233;
  background-color: #ffe6e6;
  font-weight: bold;
  border-radius: 10px;
  padding: 2px 4px 0 3px;
  border: none;
  margin-right: 7px;
}

.bookStateEnd {
  color: #212121;
  background-color: #e9e9e9;
  font-weight: bold;
  border-radius: 10px;
  padding: 2px 4px 0 3px;
  border: none;
  margin-right: 7px;
}

.bookStateStart {
  color: white;
  background-color: #fc6c00;
  font-weight: bold;
  border-radius: 10px;
  padding: 2px 4px 0 3px;
  border: none;
  margin-right: 7px;
}

.bookContainer {
  border-bottom: 1px solid rgb(128, 128, 128);
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.detailButtons {
  margin: 5px 5px 10px 5px;
  padding: 5px;
  border: 1px solid #fc6c00;
  border-radius: 8px;
  background: none;
  color: #fc6c00;
  font-size: 16px;

  &:hover {
    font-weight: bold;
  }
}

.bookBtnContainer {
  display: flex;
  justify-content: flex-end;
}

.bookName {
  margin: 10px 0 15px 0;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.bookHeader {
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bookBackBtn {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.bookArrowBackIcon {
  margin-right: 10px;
  &:hover {
    cursor: pointer;
  }
}
