.parkinglots {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  gap: 20px;
  margin-top: 5px;
}

.parkinglotContainer {
  background-color: mediumpurple;
  width: 200px;
  color: white;
  padding: 2px;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 5px;
  width: 200px;
}

/* buttons */
.locationButton {
  width: 200px;
  height: 50px;
  background-color: burlywood;
  border-radius: 10px;
  font-size: 13px;
  margin: 10px 10px;
}
