.getParkingBtn {
  background: #fc6c00;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 5px 10px;
}

.getBookParkingBtn {
  background: #fc6c00;
  color: white;
  border: none;
  border-radius: 7px;
  margin: 5px 0;
  padding: 0 10px;
}

.parkingName {
  font-weight: bold;
  font-size: 20px;
  margin: 0 5px;
}

.parkingDetailHeader {
  display: flex;
  align-items: flex-end;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}

.parkingID {
  font-size: 20px;
  color: #fc6c00;
  font-weight: bold;
}

.parkingMiddleText {
  font-size: 18px;
  font-weight: bold;
}

.parkingTextContainer {
  margin: 5px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}

.parkingBoldText {
  font-weight: bold;
  font-size: 16px;
}

.parkingDetailFooter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detailBtn {
  border: #fc6c00 1px solid;
  background: none;
  color: #fc6c00;
  border-radius: 7px;
  margin: 5px 0;
}

.btnContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.labelContainer {
  display: flex;
}

.label {
  width: 90px;
  color: #212121;
}

.graytext {
  color: #616161;
}
