.sign-up-container {
  max-width: 400px;
  margin: 120px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sign-up-container h1 {
  text-align: center;
  color: #333;
}

.sign-up-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sign-up-container button {
  width: 100%;
  padding: 10px;
  background-color: #fc6c00;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sign-up-container button:hover {
  font-weight: bold;
}

.sign-up-container .home-button {
  width: 100%;
  padding: 10px;
  background-color: white;
  color: #fc6c00;
  border: 1px solid #fc6c00;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}

.sign-up-container .home-button:hover {
  font-weight: bold;
}

.sign-up-container .home-button a {
  color: white;
  text-decoration: none;
}
